<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>dataenlighten_region_a</string>
		<key>topLeft</key>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>topRight</key>
		<dict>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>bottomLeft</key>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>bottomRight</key>
		<dict>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<string>dataenlighten_region_b</string>
		<key>topLeft</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>topRight</key>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>bottomLeft</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>3</integer>
		</dict>
		<key>bottomRight</key>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>3</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<string>dataenlighten_region_c</string>
		<key>topLeft</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>3</integer>
		</dict>
		<key>topRight</key>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>3</integer>
		</dict>
		<key>bottomLeft</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>bottomRight</key>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<string>dataenlighten_region_d</string>
		<key>topLeft</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>topRight</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>bottomLeft</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>9</integer>
		</dict>
		<key>bottomRight</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>9</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<string>dataenlighten_region_e</string>
		<key>topLeft</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>9</integer>
		</dict>
		<key>topRight</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>9</integer>
		</dict>
		<key>bottomLeft</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>12</integer>
		</dict>
		<key>bottomRight</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>12</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<string>dataenlighten_region_f</string>
		<key>topLeft</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>12</integer>
		</dict>
		<key>topRight</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>12</integer>
		</dict>
		<key>bottomLeft</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>16</integer>
		</dict>
		<key>bottomRight</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>16</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<string>dataenlighten_region_g</string>
		<key>topLeft</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>16</integer>
		</dict>
		<key>topRight</key>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>16</integer>
		</dict>
		<key>bottomLeft</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>20</integer>
		</dict>
		<key>bottomRight</key>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>20</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<string>dataenlighten_region_h</string>
		<key>topLeft</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>20</integer>
		</dict>
		<key>topRight</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>20</integer>
		</dict>
		<key>bottomLeft</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>23</integer>
		</dict>
		<key>bottomRight</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>23</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<string>dataenlighten_region_i</string>
		<key>topLeft</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>20</integer>
		</dict>
		<key>topRight</key>
		<dict>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>20</integer>
		</dict>
		<key>bottomLeft</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>23</integer>
		</dict>
		<key>bottomRight</key>
		<dict>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>23</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<string>dataenlighten_region_j</string>
		<key>topLeft</key>
		<dict>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>20</integer>
		</dict>
		<key>topRight</key>
		<dict>
			<key>x</key>
			<integer>11</integer>
			<key>y</key>
			<integer>20</integer>
		</dict>
		<key>bottomLeft</key>
		<dict>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>23</integer>
		</dict>
		<key>bottomRight</key>
		<dict>
			<key>x</key>
			<integer>11</integer>
			<key>y</key>
			<integer>23</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<string>dataenlighten_region_k</string>
		<key>topLeft</key>
		<dict>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>16</integer>
		</dict>
		<key>topRight</key>
		<dict>
			<key>x</key>
			<integer>11</integer>
			<key>y</key>
			<integer>16</integer>
		</dict>
		<key>bottomLeft</key>
		<dict>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>20</integer>
		</dict>
		<key>bottomRight</key>
		<dict>
			<key>x</key>
			<integer>11</integer>
			<key>y</key>
			<integer>20</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<string>dataenlighten_region_l</string>
		<key>topLeft</key>
		<dict>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>12</integer>
		</dict>
		<key>topRight</key>
		<dict>
			<key>x</key>
			<integer>11</integer>
			<key>y</key>
			<integer>12</integer>
		</dict>
		<key>bottomLeft</key>
		<dict>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>16</integer>
		</dict>
		<key>bottomRight</key>
		<dict>
			<key>x</key>
			<integer>11</integer>
			<key>y</key>
			<integer>16</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<string>dataenlighten_region_m</string>
		<key>topLeft</key>
		<dict>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>9</integer>
		</dict>
		<key>topRight</key>
		<dict>
			<key>x</key>
			<integer>11</integer>
			<key>y</key>
			<integer>9</integer>
		</dict>
		<key>bottomLeft</key>
		<dict>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>12</integer>
		</dict>
		<key>bottomRight</key>
		<dict>
			<key>x</key>
			<integer>11</integer>
			<key>y</key>
			<integer>12</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<string>dataenlighten_region_n</string>
		<key>topLeft</key>
		<dict>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>topRight</key>
		<dict>
			<key>x</key>
			<integer>11</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>bottomLeft</key>
		<dict>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>9</integer>
		</dict>
		<key>bottomRight</key>
		<dict>
			<key>x</key>
			<integer>11</integer>
			<key>y</key>
			<integer>9</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<string>dataenlighten_region_o</string>
		<key>topLeft</key>
		<dict>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>3</integer>
		</dict>
		<key>topRight</key>
		<dict>
			<key>x</key>
			<integer>11</integer>
			<key>y</key>
			<integer>3</integer>
		</dict>
		<key>bottomLeft</key>
		<dict>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>bottomRight</key>
		<dict>
			<key>x</key>
			<integer>11</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<string>dataenlighten_region_p</string>
		<key>topLeft</key>
		<dict>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>topRight</key>
		<dict>
			<key>x</key>
			<integer>11</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>bottomLeft</key>
		<dict>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>3</integer>
		</dict>
		<key>bottomRight</key>
		<dict>
			<key>x</key>
			<integer>11</integer>
			<key>y</key>
			<integer>3</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<string>dataenlighten_region_q</string>
		<key>topLeft</key>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>topRight</key>
		<dict>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>bottomLeft</key>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>bottomRight</key>
		<dict>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<string>dataenlighten_region_r</string>
		<key>topLeft</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>topRight</key>
		<dict>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<key>bottomLeft</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>9</integer>
		</dict>
		<key>bottomRight</key>
		<dict>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>9</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<string>dataenlighten_region_s</string>
		<key>topLeft</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>9</integer>
		</dict>
		<key>topRight</key>
		<dict>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>9</integer>
		</dict>
		<key>bottomLeft</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>12</integer>
		</dict>
		<key>bottomRight</key>
		<dict>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>12</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<string>dataenlighten_region_t</string>
		<key>topLeft</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>12</integer>
		</dict>
		<key>topRight</key>
		<dict>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>12</integer>
		</dict>
		<key>bottomLeft</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>16</integer>
		</dict>
		<key>bottomRight</key>
		<dict>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>16</integer>
		</dict>
	</dict>
	<dict>
		<key>ID</key>
		<string>dataenlighten_region_u</string>
		<key>topLeft</key>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>16</integer>
		</dict>
		<key>topRight</key>
		<dict>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>16</integer>
		</dict>
		<key>bottomLeft</key>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>20</integer>
		</dict>
		<key>bottomRight</key>
		<dict>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>20</integer>
		</dict>
	</dict>
</array>
</plist>
